
<ion-view title="Local Surveys">
  <ion-content class="has-header padding">

 <!-- <div style="margin-top: 10px;height:200px" id="map_canvas"> </div> --> 



    <div class="item item-text-wrap">

<ion-scroll zooming="true" direction="xy" style="width: 275px; height: 170px">
  <div style="width: 600px; height: 600px; background: url('http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=13&size=600x600&key=AIzaSyCvjskr4BIY7et1Vwhi5CNSyn2gIq_huSg')"></div>
 </ion-scroll>

    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
</div>


    </div>
  </ion-content>
</ion-view>
